/* Mobile */
@media (max-width: 768px) {
    .scheduling {
        height: auto;
        margin-bottom: 17px;
    }
    .scheduling .schedule-infos {
        height: auto;
    }
    .schedule-infos .schedule-main {
        flex-direction: column;
        height: auto;
    }
    .schedule-infos .schedule-main .schedule-left {
        width: 100%;
    }

    .schedule-infos .schedule-main .schedule-right{
        width: 100%;
        margin-bottom: 11px;
    }

    .schedule-int {
        height: auto;
        gap: 7px;
    }
    .schedule-int .int-left {
        width: 60%;
    }
    .int-button {
        font-size: 14px;
        padding: 18px 26px;
    }
}


/* Tablet */
@media (max-width: 900px){
    .schedule-infos .schedule-main {
        gap: 5px;
    }
    .schedule-main .schedule-left {
        width: 40%;
        height: 100%;
    }
    .schedule-left>span>h4 {
        font-size: 13px;
    }
    .schedule-left>p {
        font-size: 13px;
    }
    .schedule-left>h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .schedule-main .schedule-right {
        width: 63%;
    }



    .app-card {
        display: flex;
    }
    .app-card .card-top {
        width: 55%;
        height: 100%;
        border: none;
        border-right: 2px dashed;
    }
    .app-card .card-bottom {
        width: 50%;
        height: 100%;
    }
    .app-card .card-bottom>ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
    }
    .app-card .card-bottom>ul>li {
        width: 100%;
    }

    .app-cards .app-card:nth-child(1) {
        grid-column: 1/13;
        grid-row: 1/7;
    }
    .app-cards .app-card:nth-child(2) {
        grid-column: 1/13;
        grid-row: 7/11;
    }
    .app-cards .app-card:nth-child(3) {
        grid-column: 1/13;
        grid-row: 11/15;
    }
    .app-cards .app-card:nth-child(4) {
        grid-column: 1/13;
        grid-row: 15/19;
    }
    .app-cards .app-card:nth-child(5) {
        grid-column: 1/13;
        grid-row: 19/23;
    }
    .app-cards .app-card:nth-child(6) {
        grid-column: 1/13;
        grid-row: 23/27;
    }
}


/* Desktop */
@media (max-width: 1224px){
    .schedule-infos .schedule-main {
        gap: 15px;
    }
}